.title {
	margin: 0;
	font-size: 30px;
	font-weight: 600;
	line-height: 120%;
}

.filters-form {
	display: flex;
	gap: 12px;
	align-items: center;
	margin-top: 24px;
}

.select-wrapper {
	width: 100%;
	max-width: 270px;
}

.date-input-wrapper {
	flex-grow: 1;
	max-width: 270px;
}
