.title {
	margin: 0;
	font-size: 30px;
	font-weight: 600;
	line-height: 120%;
}

.projects-header {
	display: flex;
	justify-content: space-between;
}

.projects-list {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 20px 0;
}

.projects-loader {
	display: flex;
	flex: 1;
	align-items: center;
}
