.title {
	margin: 0;
	font-size: 30px;
	font-weight: 600;
	line-height: 120%;
}

.contributors-table {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 16px;
}

.filters-form {
	display: flex;
	gap: 12px;
}

.select-wrapper {
	min-width: 270px;
	margin-top: 24px;
}
