.container {
	display: flex;
	flex-grow: 1;
}

.auth-container {
	display: flex;
	flex-grow: 1;
	width: 100%;
	font-family: Inter, sans-serif;
	color: var(--color-text-primary);
	background-color: var(--color-background-secondary);
}

.left-side,
.right-side {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
}

.left-side {
	background-color: var(--color-background-primary);
	background-image: url("/assets/images/auth-background.png");
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: 200% 100%;
}

.right-side {
	flex-direction: column;
}

.logo-wrapper {
	place-self: center center;
	width: 200px;
	height: 100px;
	object-fit: contain;
	object-position: center;
}

.form-title {
	width: 400px;
	margin-bottom: 8px;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.2;
}
