.profile-layout {
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: flex-start;
	width: 100%;
	max-width: 800px;
	padding: 0;
	margin: 0 auto;
	color: var(--color-text-primary);
}

.title {
	margin: 0;
	font-size: 30px;
	font-weight: 600;
	line-height: 120%;
}
