.container {
	display: flex;
	flex: 1;
	flex-direction: column;
	color: var(--color-text-primary);
	background-color: var(--color-background-primary);
}

.container-sidebar-content {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.content-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 0 80px 32px;
}
