* {
	box-sizing: border-box;
	scrollbar-width: thin;
	scrollbar-color: var(--color-border-primary) var(--color-background-secondary);
}

body {
	display: flex;
	flex-direction: column;
	min-width: 320px;
	min-height: 100vh;
	margin: 0;
	font-family: Inter, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	background-color: var(--color-background-primary);
}

#root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	white-space: nowrap;
	border: 0;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-border-primary);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-brand-primary);
}

::-webkit-scrollbar-track {
	background: var(--color-background-secondary);
	border-radius: inherit;
}
