.sidebar {
	display: flex;
	flex: 20%;
	flex-direction: column;
	gap: 4px;
	align-items: flex-start;
	padding: 20px;
	margin: 0;
	background-color: var(--color-background-primary);
	border-right: var(--color-border-primary);
}
