.sidebar {
	display: flex;
	flex: 20%;
	flex-direction: column;
	gap: 4px;
	padding: 20px;
	margin: 0;
	list-style-type: none;
	background-color: var(--color-background-primary);
	border-right: 1px solid var(--color-border-primary);
}

.sidebar li {
	width: 100%;
}

.sidebar-link {
	display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: center;
	padding: 12px 16px;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.2px;
	color: var(--color-text-secondary);
	text-decoration: none;
}

.sidebar-link:hover {
	color: var(--color-text-primary);
	background-color: var(--color-background-secondary);
	border-radius: 6px;
}

.sidebar-link:hover .icon-sidebar {
	filter: brightness(0) saturate(100%) invert(43%) sepia(75%) saturate(4015%)
		hue-rotate(236deg) brightness(101%) contrast(96%);
}
