:root {
	/* Background Colors */
	--color-background-primary: #121415;
	--color-background-secondary: #1d1e21;
	--color-background-hover: #ffffff0f;
	--color-border-secondary: #303030;
	--color-border-primary: #3e424d;
	--color-color-overlay: #000000cc;

	/* Typography Colors */
	--text-primary: #ffffff;
	--text-secondary: #7e8082;

	/* Brand Colors */
	--brand-primary: #8860fa;
	--brand-primary-hover: #7747ff;

	/* State Colors */
	--success: #0d9c00;
	--warning: #d3bf06;
	--danger: #ca4925;

	/* Shadow */
	--box-shadow: 0px 0px 25px 0px #00000080;
}
