.container {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--color-text-primary);
	background-color: var(--color-background-primary);
}

.decoration {
	margin: 0;
	font-size: 96px;
	font-weight: 600;
}

.title {
	margin: 0;
	font-size: 30px;
	font-weight: 600;
	line-height: 120%;
}

.text {
	margin-top: 0;
	margin-bottom: 50px;
	font-size: 16px;
	font-weight: 400;
	color: var(--color-text-secondary);
}
