.content {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0;
}

.title {
	margin: 0;
	font-size: 30px;
	font-weight: 600;
	line-height: 120%;
}

.section-title {
	margin: 32px 0 24px;
	font-size: 24px;
	font-weight: 600;
	line-height: 120%;
}

.users-table {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
